body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 40px;

}

div {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
  
}
.item {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}