body {
    font-family: Arial, sans-serif;
    background-color: linear-gradient(135deg, #00c6ff, #0072ff);
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

header {
  background: #fff;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

} 
form {
  background: #fff;
  padding: 25px;
  margin-top: 20px;
  border-radius:10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  width: 320px;
  display:flex;
  flex-direction: column;
  
}

label, input, select, button  {
  margin-bottom: 10px;
  
} 

button {
  background-color: #0072ff;
    color: white;
    border: none;
    padding: 10px 
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #00c6ff;
}

#message {
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    
}